:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.gradient-text {
  background: -webkit-linear-gradient(
    118.33deg,
    #2563eb 3.84%,
    #9333ea 52.51%,
    #be123c 107.67%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-blob {
  background: -webkit-linear-gradient(
    118.33deg,
    #2563eb 3.84%,
    #9333ea 52.51%,
    #be123c 107.67%
  );
  filter: blur(5em);
  position: absolute;
  height: 100px;
  width: 500px;
}

@media (max-width: 768px) {
  .gradient-blob {
    width: 300px;
  }
}

.blob-top {
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.blob-bottom {
  bottom: -50px;
}

button {
  background-color: #222;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 1em 2em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  font-size: 0.9em;
}

button:hover {
  background-color: #333;
  border-color: #444;
  transition: all 0.2s ease-in-out;
}

.button-icon {
  margin-left: 0.5em;
  color: #999;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #222;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-buttons {
  display: flex;
  gap: 0.5em;
  margin: 0.5em 0;
}

.link-buttons a {
  background-color: #222;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 1em 2em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  font-size: 0.9em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.link-buttons a:hover {
  background-color: #333;
  border-color: #444;
  transition: all 0.2s ease-in-out;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin: 1em 0;
}

.github {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 2em 0;
}

.github-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #333;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
}

.github-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.github-name {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.github-handle {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  color: #999;
}

.github-follow {
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  gap: 0.5em;
}

.github-link {
  font-weight: 600;
  margin-top: 1em;
  padding: 0.3em 0.9em;
  background-color: #222;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}

.github-link:hover {
  opacity: 75%;
  background-color: #333;
  border-color: #444;
  transition: all 0.2s ease-in-out;
}
